{% extends "base.html" %}
{% load static %}

{% block title %}
About |
{% endblock title %}

{% block body %}

<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{% static 'assets/img/dp2.jpg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Software Engineer &amp; Web Developer.</h3>
          <p class="fst-italic">
            <br/>
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>7 Feb </span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+919542583552</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>AP, INDIA</span></li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>21</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>B-Tech</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>PhEmailone:</strong> <span>ravitejaveesam7@gmail.com</span></li>
              </ul>
            </div>
          </div>
          <br/>
          <p>
            "I am excited to bring my fresh perspective, adaptability, and a strong work ethic to a team that values creativity, innovation, and excellence in software development."
           
          </p>
        </div>
      </div>

    </div>
  </section>
    <div class="container">

      <div class="section-title">
        <h2>Skills</h2>

        <div class="row row-cols-md-3">  <div class="col">
            <p><B>Python</B></p>
            <div class="progress">
              <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
          </div>
          <div class="col">
            <p><B>SQL</B></p>
            <div class="progress">
              <div class="progress-bar bg-danger" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
          </div>
          <div class="col">
            <p><B>Problem Solving</B></p>
            <div class="progress">
              <div class="progress-bar bg-info" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
        </div>
        <div class="row row-cols-md-3">
          <div class="col">
            <p><B>Java</B></p>
            <div class="progress">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
            </div>
          </div>
          <div class="col">
            <p><B>Django</B></p>
            <div class="progress">
              <div class="progress-bar bg-dark" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
          </div>
          <div class="col">
            <p><B>Communication</B></p>
            <div class="progress">
              <div class="progress-bar bg-secondary" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">85%</div>
            </div>
          </div>
        </div>
      </div>
      

{% endblock body %}