{% extends "base.html" %}

{% block title %}
Contact |
{% endblock title %}
{% block style %}

<style>
.sd{

    
padding:5%;color:green;box-shadow:0px 5px 15px  #808080 inset ,0px 5px 15px  #808080;background-color:white;width:30%;margin-left:30%;;font-size:20px;
}


</style>

{% endblock style %}

{% block body %}
<div class="section-title">
    <h2>Contact </h2>
</div>


<div class="sd">



        <marquee width="60%" direction="right" height="50px">
           <h1> INFO </h1>
            </marquee>
    
    <hr class="border border-danger border-3 opacity-75">
    <br/>

  
    <i class="fa-brands fa-viber"> PHONE:<br/></i>
        <p>            <b> &#160; <b>9542583552<b> </P><br/>
        <br/>
        

        <i class="fa-brands fa-google"></i>mail:<br/>
        <br/><p>                &#160;veesamraviteja7@gmail.com</P>
 


</div>



{% endblock body %}